body {
    font-family: Helvetica;
}

/* Navbar */

.navbar {
    background-color: #26aaec;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 700;
}

/* Hero Section */

