body {
    font-family: Helvetica;
}

/* Navbar */

.navbar {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 700;
}

/* SQuienes Somos */
#Quienes-Somos {
    background-color: rgb(23, 23, 23);
    color: white;
}

.col-4 {
    padding: 15px;
}
.rectangulo {
    background-color: #0aa2c0;
    border: 2px solid black;
    width: 500px;
    height: 30px;
}
/*Destacados*/
#Destacados {
    background-color: rgb(23, 23, 23);
    color: white;
}

.card {
    background-color: #0aa2c0;
}